<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="left-nav" class="left-nav left-nav-js">
    <ul>
        <li>
            <a href="/">
                <img th:src="@{/img/dashboard.svg}" width="30" height="30">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/doctors">
                <img th:src="@{/img/doctor.svg}" width="30" height="30">
                Doctors
            </a>
        </li>
        <li>
            <a href="/patients">
                <img th:src="@{/img/patients.svg}" width="30" height="30">
                Patients
            </a>
        </li>
        <li>
            <a href="/departments">
                <img th:src="@{/img/departments.svg}" width="30" height="30">
                Departments
            </a>
        </li>
        <li>
            <a href="/appointments">
                <img th:src="@{/img/appointment.svg}" width="30" height="30">
                Appointments
            </a>
        </li>
        <li>
            <a href="/calendar">
                <img th:src="@{/img/calendar.svg}" width="30" height="30">
                Calendar
            </a>
        </li>
    </ul>
</div>
</body>
</html>
