<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>


<header th:replace="~{fragments/header :: header}"></header>

<div class="wrapper-layout">
    <div th:replace="~{fragments/left-nav :: left-nav}"></div>
    <div layout:fragment="content">
        <!-- Default content goes here -->
    </div>
</div>

<!--<footer th:replace="~{fragments/footer :: footer}"></footer>-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
