<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Appointment Details</title>
</head>
<body>
<h1>Update Appointment Details</h1>
<form th:action="@{/appointment/{appointmentId}/update(appointmentId=${appointment.id})}" th:object="${appointment}" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="text" th:field="*{doctorId}" placeholder="Doctor" required="required"/>
    <input type="text" th:field="*{patientId}" placeholder="Patient" required="required"/>
    <input type="date" th:field="*{appointmentDate}" required="required"/>
    <button type="submit">Update Appointment</button>
</form>
</body>
</html>
